# Discord OAuth Configuration
DISCORD_CLIENT_ID=123456789012345678
DISCORD_CLIENT_SECRET=yourdiscordclientsecret
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord

# JWT Secret Key for signing tokens
JWT_SECRET=yourjwtsecretkeyhere

# MongoDB URI for Database Connection
MONGODB_URI=mongo_db_uri

# Server Port
PORT=3001

# Secret key for session signing and other security features
SECRET_KEY=yoursecretkeyhere

# Environment mode (DEVELOPMENT, PRODUCTION, etc.)
ENVIRONMENT=DEVELOPMENT

# Development and Production URLs
DEV_SERVER_URL=http://localhost:3001
DEV_CLIENT_URL=http://localhost:3000
SERVER_URL=https://your-backend-url.com
CLIENT_URL=https://your-frontend-url.com
